In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

get_ipython().run_line_magic('whos', '')

Variable     Type         Data/Info
-----------------------------------
np           module       <module 'numpy' from '/op<...>kages/numpy/__init__.py'>
pd           module       <module 'pandas' from '/o<...>ages/pandas/__init__.py'>
plt          module       <module 'matplotlib.pyplo<...>es/matplotlib/pyplot.py'>
row_index    str          id
sleep_data   DataFrame            Gender   Age  Sat<...>n[1761 rows x 27 columns]

In [6]:
sleep_data = pd.read_csv('Marqueze.csv',sep = ',')
sleep_data.head()

,id,Gender,Age,Satlazer,Countrycat,Workhourtotal1cat,Enoughsleepcat,Educationlevel,Satworkhour2,SleepQualitycat,...,Work5cat,Depression,Country_Occup_Work5,Sunworkmonth_H,Sunfreemonth_H,SUNWORKFREEMONTH_HOUR,Occup_Work5,Work3cat2,SUNWORKMONTH_HOUR_Mean_INV,SUNWORKMONTH_HOUR_Median_INV
0,1,1,33.0,1,0,0.0,0.0,2.0,1,0.0,...,1,0.0,3,140.0,24.0,106.86,3,1,0,0
1,2,1,64.0,0,0,1.0,0.0,1.0,0,0.0,...,1,0.0,3,160.0,8.0,116.57,3,1,0,0
2,3,1,39.0,0,0,1.0,1.0,2.0,1,0.0,...,1,1.0,3,160.0,NaN,NaN,3,1,0,0
3,4,1,36.0,0,0,1.0,0.0,2.0,2,0.0,...,1,1.0,3,120.0,16.0,90.29,3,1,0,1
4,5,1,22.0,0,0,1.0,0.0,2.0,0,0.0,...,1,0.0,3,100.0,8.0,73.71,3,1,1,1

In [7]:
row_index = 'id'
sleep_data = sleep_data.set_index(row_index)
sleep_data.head()

,Gender,Age,Satlazer,Countrycat,Workhourtotal1cat,Enoughsleepcat,Educationlevel,Satworkhour2,SleepQualitycat,AwakeningProblemscat,...,Work5cat,Depression,Country_Occup_Work5,Sunworkmonth_H,Sunfreemonth_H,SUNWORKFREEMONTH_HOUR,Occup_Work5,Work3cat2,SUNWORKMONTH_HOUR_Mean_INV,SUNWORKMONTH_HOUR_Median_INV
id,,,,,,,,,,,,,,,,,,,,,
1,1,33.0,1,0,0.0,0.0,2.0,1,0.0,0.0,...,1,0.0,3,140.0,24.0,106.86,3,1,0,0
2,1,64.0,0,0,1.0,0.0,1.0,0,0.0,0.0,...,1,0.0,3,160.0,8.0,116.57,3,1,0,0
3,1,39.0,0,0,1.0,1.0,2.0,1,0.0,0.0,...,1,1.0,3,160.0,NaN,NaN,3,1,0,0
4,1,36.0,0,0,1.0,0.0,2.0,2,0.0,0.0,...,1,1.0,3,120.0,16.0,90.29,3,1,0,1
5,1,22.0,0,0,1.0,0.0,2.0,0,0.0,0.0,...,1,0.0,3,100.0,8.0,73.71,3,1,1,1